<!--
<form accept-charset="UTF-8" action="/users" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Email:</label>
  <input id="email" name="user[email]" type="text" /><br>
  <label for="username">Username:</label>
  <input id="username" name="user[username]" type="text" /><br>
  <label for="password">Password:</label>
  <input id="password" name="user[password]" type="password" /><br>
  <input name="commit" type="submit" value="Send" />
</form>
-->

<%= form_tag(users_path, method: "post") do %>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %><br>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %><br>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %><br>
  <%= submit_tag("Send")%>
<% end %>